<% if @chat.messages.last.attachments.first %>
  <%= cl_image_tag @chat.messages.last.attachments.first.key %>
<% else %>
  <%= image_tag "https://static.wikia.nocookie.net/cartoons/images/e/ed/Profile_-_SpongeBob_SquarePants.png/revision/latest/thumbnail/width/360/height/360?cb=20240420115914", alt: "text" %>
<% end %>


<div id='messages'>
  <p><%= @chat.messages.last.content %></p>
</div>


<div id='chatbox'>
  <%= simple_form_for [@chat, @message] do |f| %>
    <%= f.input :content, label: 'What is your next action?', required: true %>
    <%= f.submit %>

  <% end %>
</div>
