<div class="container">

  <div id="entire_response">
    <% if @chat.messages.last.present? %>
      <%= render 'entire_response', chat: @chat %>
    <% end %>
  </div>

  <div id="chatbox" class='mt-3'>
    <% if @user_message_count >= 4 %>
      <div class="alert alert-info mt-3">
        <strong>Final Chapter:</strong> This is the last step in your journey. Choose your final action wisely!
      </div>
      <%= simple_form_for [@chat, @message] do |f| %>
        <%= f.input :content, label: 'What is your next action?', required: true %>
        <%= f.submit 'Conculde Your Journey'%>
      <% end %>
    <% else %>
      <%= simple_form_for [@chat, @message] do |f| %>
        <%= f.input :content, label: 'What is your next action?', required: true %>
        <%= f.submit 'Continue Journey'%>
      <% end %>
    <% end %>
  </div>
</div>
