<div class="container">

  <div id="entire_response">
    <% if @chat.messages.last.present? %>
      <%= render 'entire_response', chat: @chat %>
    <% end %>
  </div>

  <div id="chatbox">
    <% if @chat.messages.where(role: 'user').count >= 5 %>
      <%= link_to 'See the end of your journey', assessment_story_path(@chat.story), class: 'btn btn-secondary mt-3' %>
    <% else %>
      <%= simple_form_for [@chat, @message] do |f| %>
        <%= f.input :content, label: 'What is your next action?', required: true %>
        <%= f.submit 'Continue Journey'%>
      <% end %>
    <% end %>
  </div>

</div>
