<div class="assessment-page container">
  <!-- Header for protagonist name, story title generated based on protagonist name, genre, topic -->
  <div class="story-header text-center mb-4">
    <h1 class="story-title"> <%=@story.protagonist_name%> </h1>
    <div class="story-info">
      <p>Topic: <%= @story.topic %></p>
      <p>Genre: <%= @story.genre %></p>
    </div>
  </div>
  <!-- Story ending generated picture -->
  <div class="story-picture">
    <p> Image here </p>
  </div>
  <!-- Story narration with messages, user replies, continuation of story and ending -->
  <div class="story-narration">
    <div class="story-content mb-4">
      <% @story.messages.order(:created_at).each do |message| %>
        <% if message.role == 'assistant' %>
          <p class="narrative-text"><%= message.content %></p>
        <% else %>
          <p class="user-choice bg-dark p-3">
            <strong>You chose:</strong> <em><%= message.content %></em>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
  <!-- Psychological assessment results -->
  <div class="assessment-results mb-4">
    <h2>Psychological Assessment</h2>
    <p><%= @story.assessment%></p>
  </div>
  <!-- Possible next navigation actions (play again, see all my stories) -->
  <div class="actions text-center">
    <%= link_to "Create a New Story", new_story_path, class:"btn btn-primary"%>
  </div>
</div>
<!-- Render partials? -->
