<div class="assessment-page container">
  <!-- Header for protagonist name, story title generated based on protagonist name, genre, topic -->
  <div class="story-header text-center mb-4">
    <h1 class="story-title"> <%=@story.protagonist_name%> </h1>
    <div class="story-info">
      <p>Topic: <%= @story.topic %></p>
      <p>Genre: <%= @story.genre %></p>
    </div>
  </div>
  <!-- Story ending generated picture -->
  <div class="story-picture text-center mb-4">
    <% messages_with_images = @story.chat.messages.select { |m| m.image.attached? } %>
    <% if messages_with_images.any? %>
      <%= cl_image_tag messages_with_images.last.image.key, class: "img-fluid rounded shadow", style: "max-width: 750px;" %>
    <% else %>
      <p class="mb-0 text-muted">No final image available</p>
    <% end %>
  </div>
  <!-- Story ending -->
  <div class="story-narration">
    <div class="story-content mb-4">
      <p class="narrative-text"><%= @final_story_content %></p>
    </div>
  </div>
  <!-- Psychological assessment results based on choices -->
  <div class="assessment-results mb-4">
    <h2>Psychological Assessment</h2>
    <p><%= @story.assessment%></p>
  </div>
  <!-- Possible next navigation actions (play again, see all my stories?) -->
  <div class="actions text-center">
    <%= link_to "Create a New Story", new_story_path, class:"btn btn-primary"%>
  </div>
</div>
<!-- Render partials? -->
